USE [master]
GO
/****** Object:  Database [LAFAGE_DB]    Script Date: 1/29/2026 1:57:40 AM ******/
CREATE DATABASE [LAFAGE_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LAFAGE_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LAFAGE_DB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LAFAGE_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LAFAGE_DB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LAFAGE_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LAFAGE_DB]
GO
/****** Object:  Schema [auditoria]    Script Date: 1/29/2026 1:57:41 AM ******/
CREATE SCHEMA [auditoria]
GO
/****** Object:  Schema [catalogo]    Script Date: 1/29/2026 1:57:41 AM ******/
CREATE SCHEMA [catalogo]
GO
/****** Object:  Schema [personas]    Script Date: 1/29/2026 1:57:41 AM ******/
CREATE SCHEMA [personas]
GO
/****** Object:  Schema [ventas]    Script Date: 1/29/2026 1:57:41 AM ******/
CREATE SCHEMA [ventas]
GO
/****** Object:  UserDefinedTableType [ventas].[TVP_DetallePedido]    Script Date: 1/29/2026 1:57:41 AM ******/
CREATE TYPE [ventas].[TVP_DetallePedido] AS TABLE(
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NOT NULL
)
GO
/****** Object:  UserDefinedFunction [catalogo].[fnCalcularImpuestoDescuento]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [catalogo].[fnCalcularImpuestoDescuento]
(
    @IdProducto INT,
    @Precio DECIMAL(10,2)
)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @Resultado DECIMAL(10,2) = 0;

    SELECT TOP 1
        @Resultado =
            CASE r.Tipo
                WHEN 'I' THEN @Precio * r.Porcentaje
                WHEN 'D' THEN @Precio * -r.Porcentaje
            END
    FROM catalogo.Producto p
    INNER JOIN catalogo.ReglaImpuestoDescuento r
        ON p.IdLineaProducto = r.IdLineaProducto
    WHERE p.IdProducto = @IdProducto
      AND r.Activo = 1
      AND (r.FechaInicio IS NULL OR r.FechaInicio <= GETDATE())
      AND (r.FechaFin IS NULL OR r.FechaFin >= GETDATE());

    RETURN ISNULL(@Resultado, 0);
END;
GO
/****** Object:  Table [auditoria].[AuditoriaCambio]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auditoria].[AuditoriaCambio](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[TablaAfectada] [varchar](50) NULL,
	[CampoAfectado] [varchar](50) NULL,
	[IdRegistro] [int] NULL,
	[ValorAnterior] [varchar](100) NULL,
	[ValorNuevo] [varchar](100) NULL,
	[FechaCambio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalogo].[LineaProducto]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalogo].[LineaProducto](
	[IdLineaProducto] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLineaProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalogo].[Producto]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalogo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdLineaProducto] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Stock] [int] NOT NULL,
	[FechaProduccion] [date] NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalogo].[ReglaImpuestoDescuento]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalogo].[ReglaImpuestoDescuento](
	[IdRegla] [int] IDENTITY(1,1) NOT NULL,
	[IdLineaProducto] [int] NOT NULL,
	[Tipo] [char](1) NOT NULL,
	[Porcentaje] [decimal](5, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaInicio] [date] NULL,
	[FechaFin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRegla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [personas].[Persona]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [personas].[Persona](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Direccion] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[NumeroIdentificacion] [varchar](20) NULL,
	[FechaRegistro] [datetime] NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ventas].[AsesorComercial]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ventas].[AsesorComercial](
	[IdAsesorComercial] [int] IDENTITY(1,1) NOT NULL,
	[IdPersona] [int] NOT NULL,
	[Meta] [decimal](10, 2) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAsesorComercial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ventas].[Cliente]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ventas].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[IdPersona] [int] NOT NULL,
	[NIT] [varchar](20) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ventas].[LineaOrdenVenta]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ventas].[LineaOrdenVenta](
	[IdLineaOrdenVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdOrdenVenta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLineaOrdenVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ventas].[OrdenVenta]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ventas].[OrdenVenta](
	[IdOrdenVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdAsesorComercial] [int] NOT NULL,
	[FechaOrden] [datetime] NOT NULL,
	[Observaciones] [varchar](100) NULL,
	[EstadoOrden] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrdenVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Producto_Activo]    Script Date: 1/29/2026 1:57:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_Producto_Activo] ON [catalogo].[Producto]
(
	[Activo] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Producto_LineaProducto]    Script Date: 1/29/2026 1:57:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_Producto_LineaProducto] ON [catalogo].[Producto]
(
	[IdLineaProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Asesor_Persona]    Script Date: 1/29/2026 1:57:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_Asesor_Persona] ON [ventas].[AsesorComercial]
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cliente_Persona]    Script Date: 1/29/2026 1:57:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_Cliente_Persona] ON [ventas].[Cliente]
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LineaOrdenVenta_Orden]    Script Date: 1/29/2026 1:57:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_LineaOrdenVenta_Orden] ON [ventas].[LineaOrdenVenta]
(
	[IdOrdenVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LineaOrdenVenta_Producto]    Script Date: 1/29/2026 1:57:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_LineaOrdenVenta_Producto] ON [ventas].[LineaOrdenVenta]
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrdenVenta_Asesor]    Script Date: 1/29/2026 1:57:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrdenVenta_Asesor] ON [ventas].[OrdenVenta]
(
	[IdAsesorComercial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrdenVenta_Cliente]    Script Date: 1/29/2026 1:57:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrdenVenta_Cliente] ON [ventas].[OrdenVenta]
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [auditoria].[AuditoriaCambio] ADD  DEFAULT (getdate()) FOR [FechaCambio]
GO
ALTER TABLE [catalogo].[LineaProducto] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [catalogo].[Producto] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [catalogo].[ReglaImpuestoDescuento] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [personas].[Persona] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [personas].[Persona] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [ventas].[AsesorComercial] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [ventas].[Cliente] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [ventas].[LineaOrdenVenta] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [ventas].[OrdenVenta] ADD  DEFAULT (getdate()) FOR [FechaOrden]
GO
ALTER TABLE [catalogo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_LineaProducto] FOREIGN KEY([IdLineaProducto])
REFERENCES [catalogo].[LineaProducto] ([IdLineaProducto])
GO
ALTER TABLE [catalogo].[Producto] CHECK CONSTRAINT [FK_Producto_LineaProducto]
GO
ALTER TABLE [catalogo].[ReglaImpuestoDescuento]  WITH CHECK ADD  CONSTRAINT [FK_ReglaImpuesto_LineaProducto] FOREIGN KEY([IdLineaProducto])
REFERENCES [catalogo].[LineaProducto] ([IdLineaProducto])
GO
ALTER TABLE [catalogo].[ReglaImpuestoDescuento] CHECK CONSTRAINT [FK_ReglaImpuesto_LineaProducto]
GO
ALTER TABLE [ventas].[AsesorComercial]  WITH CHECK ADD  CONSTRAINT [FK_Asesor_Persona] FOREIGN KEY([IdPersona])
REFERENCES [personas].[Persona] ([IdPersona])
GO
ALTER TABLE [ventas].[AsesorComercial] CHECK CONSTRAINT [FK_Asesor_Persona]
GO
ALTER TABLE [ventas].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Persona] FOREIGN KEY([IdPersona])
REFERENCES [personas].[Persona] ([IdPersona])
GO
ALTER TABLE [ventas].[Cliente] CHECK CONSTRAINT [FK_Cliente_Persona]
GO
ALTER TABLE [ventas].[LineaOrdenVenta]  WITH CHECK ADD  CONSTRAINT [FK_LineaOrdenVenta_Orden] FOREIGN KEY([IdOrdenVenta])
REFERENCES [ventas].[OrdenVenta] ([IdOrdenVenta])
GO
ALTER TABLE [ventas].[LineaOrdenVenta] CHECK CONSTRAINT [FK_LineaOrdenVenta_Orden]
GO
ALTER TABLE [ventas].[LineaOrdenVenta]  WITH CHECK ADD  CONSTRAINT [FK_LineaOrdenVenta_Producto] FOREIGN KEY([IdProducto])
REFERENCES [catalogo].[Producto] ([IdProducto])
GO
ALTER TABLE [ventas].[LineaOrdenVenta] CHECK CONSTRAINT [FK_LineaOrdenVenta_Producto]
GO
ALTER TABLE [ventas].[OrdenVenta]  WITH CHECK ADD  CONSTRAINT [FK_OrdenVenta_Asesor] FOREIGN KEY([IdAsesorComercial])
REFERENCES [ventas].[AsesorComercial] ([IdAsesorComercial])
GO
ALTER TABLE [ventas].[OrdenVenta] CHECK CONSTRAINT [FK_OrdenVenta_Asesor]
GO
ALTER TABLE [ventas].[OrdenVenta]  WITH CHECK ADD  CONSTRAINT [FK_OrdenVenta_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [ventas].[Cliente] ([IdCliente])
GO
ALTER TABLE [ventas].[OrdenVenta] CHECK CONSTRAINT [FK_OrdenVenta_Cliente]
GO
/****** Object:  StoredProcedure [auditoria].[spRegistrarCambio]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [auditoria].[spRegistrarCambio]
(
    @TablaAfectada VARCHAR(50),
    @CampoAfectado VARCHAR(50),
    @IdRegistro INT,
    @ValorAnterior VARCHAR(255),
    @ValorNuevo VARCHAR(255)
)
AS
BEGIN
    INSERT INTO auditoria.Log_Historico
    (
        TablaAfectada,
        CampoAfectado,
        IdRegistro,
        ValorAnterior,
        ValorNuevo,
        FechaCambio
    )
    VALUES
    (
        @TablaAfectada,
        @CampoAfectado,
        @IdRegistro,
        @ValorAnterior,
        @ValorNuevo,
        GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [catalogo].[spLineaProducto_Actualizar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [catalogo].[spLineaProducto_Actualizar]
(
    @IdLineaProducto INT,
    @Descripcion VARCHAR(50),
    @Activo BIT
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE catalogo.LineaProducto
    SET
        Descripcion = @Descripcion,
        Activo = @Activo
    WHERE IdLineaProducto = @IdLineaProducto;
END;
GO
/****** Object:  StoredProcedure [catalogo].[spLineaProducto_Consultar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [catalogo].[spLineaProducto_Consultar]
(
    @SoloActivos BIT = 1
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdLineaProducto,
        Descripcion,
        Activo
    FROM catalogo.LineaProducto
    WHERE (@SoloActivos = 0 OR Activo = 1);
END;
GO
/****** Object:  StoredProcedure [catalogo].[spLineaProducto_Eliminar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [catalogo].[spLineaProducto_Eliminar]
(
    @IdLineaProducto INT
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE catalogo.LineaProducto
    SET Activo = 0
    WHERE IdLineaProducto = @IdLineaProducto;
END;
GO
/****** Object:  StoredProcedure [catalogo].[spLineaProducto_Insertar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [catalogo].[spLineaProducto_Insertar]
(
    @Descripcion VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO catalogo.LineaProducto (Descripcion, Activo)
    VALUES (@Descripcion, 1);
END;
GO
/****** Object:  StoredProcedure [catalogo].[spProducto_Actualizar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [catalogo].[spProducto_Actualizar]
(
    @IdProducto INT,
    @Descripcion VARCHAR(50),
    @Precio DECIMAL(10,2),
    @Activo BIT
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE catalogo.Producto
    SET
        Descripcion = @Descripcion,
        Precio = @Precio,
        Activo = @Activo
    WHERE IdProducto = @IdProducto;
END;
GO
/****** Object:  StoredProcedure [catalogo].[spProducto_Consultar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [catalogo].[spProducto_Consultar]
(
    @SoloActivos BIT = 1
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.IdProducto,
        p.Descripcion,
        p.Precio,
        p.Stock,
        lp.Descripcion AS LineaProducto,
        p.Activo,
        p.FechaProduccion,
        p.IdLineaProducto
    FROM catalogo.Producto p
    INNER JOIN catalogo.LineaProducto lp
        ON p.IdLineaProducto = lp.IdLineaProducto
    WHERE (@SoloActivos = 0 OR p.Activo = 1);
END;
GO
/****** Object:  StoredProcedure [catalogo].[spProducto_Insertar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [catalogo].[spProducto_Insertar]
(
    @IdLineaProducto INT,
    @Descripcion VARCHAR(50),
    @Stock INT,
    @FechaProduccion DATE = NULL,
    @Precio DECIMAL(10,2)
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO catalogo.Producto
    (
        IdLineaProducto,
        Descripcion,
        Precio,
        Stock,
        FechaProduccion,
        Activo
    )
    VALUES
    (
        @IdLineaProducto,
        @Descripcion,
        @Precio,
        @Stock,
        @FechaProduccion,
        1
    );
END;
GO
/****** Object:  StoredProcedure [personas].[spPersona_Consultar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [personas].[spPersona_Consultar]
AS
BEGIN
    SELECT
        IdPersona,
        Nombre,
        Apellido,
        Direccion,
        Telefono,
        Email,
        NumeroIdentificacion,
        FechaRegistro,
        Activo
    FROM personas.Persona
    WHERE Activo = 1;;
END;
GO
/****** Object:  StoredProcedure [personas].[spPersona_Desactivar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [personas].[spPersona_Desactivar]
(
    @IdPersona INT
)
AS
BEGIN
    UPDATE personas.Persona
    SET Activo = 0
    WHERE IdPersona = @IdPersona;
END;
GO
/****** Object:  StoredProcedure [personas].[spPersona_Insertar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [personas].[spPersona_Insertar]
(
    @Nombre                VARCHAR(50),
    @Apellido              VARCHAR(50),
    @Direccion             VARCHAR(100) = NULL,
    @Telefono              VARCHAR(20)  = NULL,
    @Email                 VARCHAR(100) = NULL,
    @NumeroIdentificacion  VARCHAR(20)  = NULL
)
AS
BEGIN
    INSERT INTO personas.Persona
    (
        Nombre,
        Apellido,
        Direccion,
        Telefono,
        Email,
        NumeroIdentificacion,
        FechaRegistro,
        Activo
    )
    VALUES
    (
        @Nombre,
        @Apellido,
        @Direccion,
        @Telefono,
        @Email,
        @NumeroIdentificacion,
        GETDATE(),
        1
    );
END;
GO
/****** Object:  StoredProcedure [ventas].[spAsesor_Consultar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ventas].[spAsesor_Consultar]
AS
BEGIN
    SELECT
        a.IdPersona,
        a.IdAsesorComercial,
        p.Nombre,
        p.Apellido,
        a.Meta,
        a.Activo
    FROM ventas.AsesorComercial a
    INNER JOIN personas.Persona p
        ON a.IdPersona = p.IdPersona
    WHERE a.Activo = 1
      AND p.Activo = 1;
END;
GO
/****** Object:  StoredProcedure [ventas].[spAsesor_Desactivar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ventas].[spAsesor_Desactivar]
(
    @IdAsesor INT
)
AS
BEGIN
    UPDATE ventas.AsesorComercial
    SET Activo = 0
    WHERE IdAsesorComercial = @IdAsesor;
END;
GO
/****** Object:  StoredProcedure [ventas].[spAsesor_Insertar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ventas].[spAsesor_Insertar]
(
    @IdPersona INT,
    @Meta      DECIMAL(10,2)
)
AS
BEGIN
    INSERT INTO ventas.AsesorComercial
    (
        IdPersona, Meta, Activo
    )
    VALUES
    (
        @IdPersona, @Meta, 1
    );
END;
GO
/****** Object:  StoredProcedure [ventas].[spAsesorComercial_Actualizar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ventas].[spAsesorComercial_Actualizar]
(
    @IdAsesorComercial INT,
    @Meta DECIMAL(10,2),
    @Activo BIT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validación básica
    IF NOT EXISTS (
        SELECT 1
        FROM ventas.AsesorComercial
        WHERE IdAsesorComercial = @IdAsesorComercial
    )
    BEGIN
        RAISERROR('El Asesor Comercial no existe.', 16, 1);
        RETURN;
    END;

    UPDATE ventas.AsesorComercial
    SET
        Meta   = @Meta,
        Activo = @Activo
    WHERE IdAsesorComercial = @IdAsesorComercial;
END;
GO
/****** Object:  StoredProcedure [ventas].[spCancelarPedido]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ventas].[spCancelarPedido]
(
    @IdPedido INT,
    @Motivo VARCHAR(200)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1️⃣ Validar estado
        IF NOT EXISTS (
            SELECT 1 FROM ventas.Pedido
            WHERE IdPedido = @IdPedido
              AND Estado = 'CONFIRMADO'
        )
        BEGIN
            RAISERROR('El pedido no existe o no está confirmado.',16,1);
            ROLLBACK;
            RETURN;
        END

        -- 2️⃣ Devolver stock
        UPDATE p
        SET p.Stock = p.Stock + d.Cantidad
        FROM catalogo.Producto p
        JOIN ventas.DetallePedido d ON d.IdProducto = p.IdProducto
        WHERE d.IdPedido = @IdPedido;

        -- 3️⃣ Cambiar estado
        UPDATE ventas.Pedido
        SET Estado = 'CANCELADO',
            Descripcion = @Motivo
        WHERE IdPedido = @IdPedido;

        COMMIT;

        SELECT 'Pedido cancelado correctamente' AS Mensaje;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH;

END;
GO
/****** Object:  StoredProcedure [ventas].[spCliente_Consultar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ventas].[spCliente_Consultar]
AS
BEGIN
    SELECT
        c.IdPersona,
        c.IdCliente,
        p.Nombre,
        p.Apellido,
        c.NIT,
        c.Activo
    FROM ventas.Cliente c
    INNER JOIN personas.Persona p
        ON c.IdPersona = p.IdPersona
    WHERE c.Activo = 1
      AND p.Activo = 1;
END;
GO
/****** Object:  StoredProcedure [ventas].[spCliente_Desactivar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ventas].[spCliente_Desactivar]
(
    @IdCliente INT
)
AS
BEGIN
    UPDATE ventas.Cliente
    SET Activo = 0
    WHERE IdCliente = @IdCliente;
END;
GO
/****** Object:  StoredProcedure [ventas].[spCliente_Insertar]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ventas].[spCliente_Insertar]
(
    @IdPersona INT,
    @NIT       VARCHAR(20)
)
AS
BEGIN
    INSERT INTO ventas.Cliente
    (
        IdPersona, NIT, Activo
    )
    VALUES
    (
        @IdPersona, @NIT, 1
    );
END;
GO
/****** Object:  StoredProcedure [ventas].[spCrearPedido]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [ventas].[spCrearPedido]
(
    @IdCliente INT,
    @IdVendedor INT,
    @IdProducto INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(10,2),
    @Descuento DECIMAL(10,2) = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @StockActual INT;
        DECLARE @IdPedido INT;

        -- 1️ Validar stock
        SELECT @StockActual = Stock
        FROM catalogo.Producto
        WHERE IdProducto = @IdProducto
          AND Activo = 1;

        IF @StockActual IS NULL
        BEGIN
            RAISERROR('Producto no existe o está inactivo.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        IF @StockActual < @Cantidad
        BEGIN
            RAISERROR('Stock insuficiente para completar la venta.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2️ Crear pedido (Aggregate Root)
        INSERT INTO ventas.OrdenVenta
        (
            IdCliente,
            IdAsesorComercial,
            FechaOrden,
            EstadoOrden,
            Observaciones
        )
        VALUES
        (
            @IdCliente,
            @IdVendedor,
            GETDATE(),
            'CREADO',
            'Pedido generado desde SP'
        );

        SET @IdPedido = SCOPE_IDENTITY();

        -- 3️ Insertar detalle
        INSERT INTO ventas.LineaOrdenVenta
        (
            IdOrdenVenta,
            IdProducto,
            Cantidad,
            PrecioUnitario,
            Descuento
        )
        VALUES
        (
            @IdPedido,
            @IdProducto,
            @Cantidad,
            @PrecioUnitario,
            @Descuento
        );

        -- 4️ Descontar stock
        UPDATE catalogo.Producto
        SET Stock = Stock - @Cantidad
        WHERE IdProducto = @IdProducto;

        -- 5️ Confirmar pedido
        UPDATE ventas.OrdenVenta
        SET EstadoOrden = 'CONFIRMADO'
        WHERE IdOrdenVenta = @IdPedido;

        COMMIT TRANSACTION;

        -- 6️ Resultado
        SELECT 
            @IdPedido AS IdPedido,
            'Pedido creado correctamente' AS Mensaje;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000);
        SET @ErrorMessage = ERROR_MESSAGE();

        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [ventas].[spCrearPedido_Multiple]    Script Date: 1/29/2026 1:57:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [ventas].[spCrearPedido_Multiple]
(
    @IdCliente INT,
    @IdVendedor INT,
    @Detalle ventas.TVP_DetallePedido READONLY
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @IdPedido INT;

        -- 1️⃣ Validar stock (TODOS los productos)
        IF EXISTS (
            SELECT 1
            FROM @Detalle d
            JOIN catalogo.Producto p ON p.IdProducto = d.IdProducto
            WHERE p.Activo = 0 OR p.Stock < d.Cantidad
        )
        BEGIN
            RAISERROR('Uno o más productos no tienen stock suficiente o están inactivos.',16,1);
            ROLLBACK;
            RETURN;
        END

        -- 2️ Crear pedido
        INSERT INTO ventas.OrdenVenta
        (
            IdCliente,
            IdAsesorComercial,
            FechaOrden,
            EstadoOrden,
            Observaciones
        )
        VALUES
        (
            @IdCliente,
            @IdVendedor,
            GETDATE(),
            'CREADO',
            'Pedido con múltiples productos'
        );

        SET @IdPedido = SCOPE_IDENTITY();

        -- 3️ Insertar detalle
        INSERT INTO ventas.LineaOrdenVenta
        (
            IdOrdenVenta,
            IdProducto,
            Cantidad,
            PrecioUnitario,
            Descuento
        )
        SELECT
            @IdPedido,
            IdProducto,
            Cantidad,
            PrecioUnitario,
            Descuento
        FROM @Detalle;

        -- 4️ Descontar stock
        UPDATE p
        SET p.Stock = p.Stock - d.Cantidad
        FROM catalogo.Producto p
        JOIN @Detalle d ON d.IdProducto = p.IdProducto;

        -- 5️ Confirmar pedido
        UPDATE ventas.OrdenVenta
        SET EstadoOrden = 'CONFIRMADO'
        WHERE IdOrdenVenta = @IdPedido;

        COMMIT;

        SELECT @IdPedido AS IdPedido, 'Pedido creado correctamente' AS Mensaje;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH;

END;
GO
USE [master]
GO
