USE [master]
GO
/****** Object:  Database [LAFAGE_DW]    Script Date: 1/29/2026 10:27:58 AM ******/
CREATE DATABASE [LAFAGE_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LAFAGE_DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LAFAGE_DW.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LAFAGE_DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LAFAGE_DW_log.ldf' , SIZE = 466944KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LAFAGE_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LAFAGE_DW]
GO
/****** Object:  Schema [dim]    Script Date: 1/29/2026 10:27:59 AM ******/
CREATE SCHEMA [dim]
GO
/****** Object:  Schema [fact]    Script Date: 1/29/2026 10:27:59 AM ******/
CREATE SCHEMA [fact]
GO
/****** Object:  Table [dim].[AsesorComercial]    Script Date: 1/29/2026 10:27:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dim].[AsesorComercial](
	[AsesorKey] [int] IDENTITY(1,1) NOT NULL,
	[IdAsesor_OLTP] [int] NOT NULL,
	[NombreAsesor] [varchar](150) NULL,
	[Meta] [decimal](12, 2) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AsesorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dim].[Cliente]    Script Date: 1/29/2026 10:27:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dim].[Cliente](
	[ClienteKey] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente_OLTP] [int] NOT NULL,
	[NombreCliente] [varchar](150) NULL,
	[NIT] [varchar](20) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dim].[Fecha]    Script Date: 1/29/2026 10:27:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dim].[Fecha](
	[FechaKey] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Anio] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[NombreMes] [varchar](20) NULL,
	[Trimestre] [int] NULL,
	[DiaSemana] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[FechaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dim].[Producto]    Script Date: 1/29/2026 10:27:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dim].[Producto](
	[ProductoKey] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto_OLTP] [int] NOT NULL,
	[NombreProducto] [varchar](150) NULL,
	[LineaProducto] [varchar](100) NULL,
	[PrecioActual] [decimal](10, 2) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [fact].[Ventas]    Script Date: 1/29/2026 10:27:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fact].[Ventas](
	[FactVentaKey] [bigint] IDENTITY(1,1) NOT NULL,
	[FechaKey] [int] NOT NULL,
	[ClienteKey] [int] NOT NULL,
	[ProductoKey] [int] NOT NULL,
	[AsesorKey] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NOT NULL,
	[TotalLinea]  AS ([Cantidad]*[PrecioUnitario]-[Descuento]) PERSISTED,
	[EstadoOrden] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[FactVentaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_Asesor]    Script Date: 1/29/2026 10:27:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_Asesor] ON [fact].[Ventas]
(
	[AsesorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_Cliente]    Script Date: 1/29/2026 10:27:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_Cliente] ON [fact].[Ventas]
(
	[ClienteKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_Fecha]    Script Date: 1/29/2026 10:27:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_Fecha] ON [fact].[Ventas]
(
	[FechaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_Producto]    Script Date: 1/29/2026 10:27:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_Producto] ON [fact].[Ventas]
(
	[ProductoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [fact].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Asesor] FOREIGN KEY([AsesorKey])
REFERENCES [dim].[AsesorComercial] ([AsesorKey])
GO
ALTER TABLE [fact].[Ventas] CHECK CONSTRAINT [FK_Ventas_Asesor]
GO
ALTER TABLE [fact].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Cliente] FOREIGN KEY([ClienteKey])
REFERENCES [dim].[Cliente] ([ClienteKey])
GO
ALTER TABLE [fact].[Ventas] CHECK CONSTRAINT [FK_Ventas_Cliente]
GO
ALTER TABLE [fact].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Fecha] FOREIGN KEY([FechaKey])
REFERENCES [dim].[Fecha] ([FechaKey])
GO
ALTER TABLE [fact].[Ventas] CHECK CONSTRAINT [FK_Ventas_Fecha]
GO
ALTER TABLE [fact].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Producto] FOREIGN KEY([ProductoKey])
REFERENCES [dim].[Producto] ([ProductoKey])
GO
ALTER TABLE [fact].[Ventas] CHECK CONSTRAINT [FK_Ventas_Producto]
GO
USE [master]
GO
